<script>
    const refreshTime = 100000;
    const mainFunc = function () {
        var xmlhttp = new XMLHttpRequest();
        var url = "/api/set?pr=" + <%=actID%>;
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var myArr = JSON.parse(this.responseText);
                myFunction(myArr);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    setInterval(mainFunc, refreshTime)
</script>
<section class="flex-center main2">
    <div class="container">
        <div class="row clothes-showcase">
            <div class="col-3 text-center flex-center b">
                <button class="btn btn-grey U"><b>.</b></button>
                <div>
                    <img id="cato" src="/assets/img/catto.png" class="img-fluid">
                </div>
                <button class="btn btn-grey D"><b>.</b></button>
            </div>
            <div class="col-3 text-center flex-center b">
                <button class="btn btn-purple U"><b><i class="fas fa-chevron-up"></i></b></button>
                <div>
                    <img id="cato" src="/assets/img/catto.png" class="img-fluid">
                </div>
                <button class="btn btn-purple D"><b><i class="fas fa-chevron-down"></i></b></button>
            </div>
            <div class="col-3 text-center flex-center b">
                <button class="btn btn-wine U"><b><i class="fas fa-chevron-up"></i></b></button>
                <div>
                    <img id="cato" src="/assets/img/catto.png" class="img-fluid">
                </div>
                <button class="btn btn-wine D"><b><i class="fas fa-chevron-down"></i></b></button>
            </div>
            <div class="col-3 text-center flex-center b">
                <button class="btn btn-yellow U"><b><i class="fas fa-chevron-up"></i></b></button>
                <div>
                    <img id="cato" src="/assets/img/catto.png" class="img-fluid">
                </div>
                <button class="btn btn-yellow D"><b><i class="fas fa-chevron-down"></i></b></button>
            </div>
        </div>
    </div>
</section>