<section class="flex-center main2">

    <div class="row clothes-showcase">
        <div class="col-4 text-center flex-center a">
            <div>
                <h5 class="text-center"><b>PARA GUARDAR LA LISTA DE COMBINACIONES ESCANEE EL SIGUIENTE CÓDIGO QR</b>
                </h5><br>
                <a href="<%=qrList %>">Lista de productos</a>
            </div>
        </div>
        <div class="col-4 text-center flex-center a">
            <div>
                <h5 class="text-center"><b>SI DESEA IMPRIMIR SU LISTA DE COMBINACIONES PRESIONE EL SIGUIENTE ÍCONO</b>
                </h5><br>
                <div class="print flex-center center-item">
                    <i class="fas fa-print center-item"></i>
                </div>
            </div>
        </div>
        <div class="col-4 text-center flex-center a">
            <div>
                <h5 class="text-center"><b>PARA LLAMAR UN VENDEDOR A LA ZONA DE PROBADORES Y CONCRETAR LA VENTA ESCANEE
                        EL SIGUIENTE QR</b></h5><br>
                <a href="<%=qrSeller %>">Llamar un vendedor</a>
            </div>
        </div>

    </div>

</section>