<section class="flex-center main2 welcome">
    <div class="container">
        <div class="row clothes-showcase">
            <div class="col-12 text-center flex-center b">
                <div>
                    <h1><b>BIENVENIDO A LA EXPERIENCIA DE PROBADOR INTELIGENTE STYLEMASTER</b></h1>
                </div>
            </div>
        </div>
    </div>
</section>