<p>Mapas de la tienda por nivel</p>
<br>
<p>Los probadores están marcados con letras en rojo y bajo cada piso se muestra su disponibilidad</p>
<br>
<p id="3">Piso 3</p>
<br>
<img style="height: 100%; width:500px" src="/assets/img/map1.jpg">
<br>
<p>A: <%=res[0].available%></p>
<p>B: <%=res[0].available%></p>
<p>C: <%=res[0].available%></p>
<br>
<p id="4">Piso 4</p>
<br>
<img style="height: 100%; width:500px" src="/assets/img/map2.jpg">
<br>