<p>Aqui va un mapa de la tienda, interactivo por nivel</p>
<br>
<img style="height: 100%; width:500px" src="/assets/img/map1.jpg">
<br>
<img style="height: 100%; width:500px" src="/assets/img/map2.jpg">
<br>
<a href="/userAction/qrScanner">Escanee su qr para usarlo en </a>