<section class="opciones">
    <div class="container">
        <h2 class="text-center"><b>StyleMaster: Ripley's SmartFitting Room</b></h2>
    </div>
    <div class="row center-item opciones flex-center">
        <div class="opcion col-lg-6 col-md-6 col-12 text-center"><a href="/">
            <button class="btn btn-rounded btn-purple btn-opciones provadores ">VER PROBADORES<br> DISPONIBLES</button></a>
        </div>
<<<<<<< HEAD
        <div class="opcion col-lg-6 col-md-6 col-12 text-center">
<<<<<<< HEAD
            <a href = "/map/"><button class="btn btn-primary btn-opciones provadores ">VER PROBADORES<br> DISPONIBLES</button></a>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center">
            <a href = "/probador/qr"><button class="btn btn-primary btn-opciones QR">ESCANEAR QR<br> DE PROBADOR</button></a>
=======
            <button class="btn btn-rounded btn-wine  btn-opciones QR">ESCANEAR QR<br> DEL PROBADOR</button>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center">
            <button class="btn btn-rounded btn-yellow  btn-opciones QR">BOTON<br> CONCURSABLE</button>
>>>>>>> 9e18f0c0489413a2d251ecaa3983bcc134349f40
=======
        <div class="opcion col-lg-6 col-md-6 col-12 text-center"><a href="/">
            <button class="btn btn-rounded btn-wine  btn-opciones QR">ESCANEAR QR<br> DEL PROBADOR</button></a>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center"><a href="/">
            <button class="btn btn-rounded btn-yellow  btn-opciones QR">BOTON<br> CONCURSABLE</button></a>
>>>>>>> a957091b7588552a4bd01d95b2fd955b8d60858b
        </div>
    </div>
</section>