<section class="opciones">
    <div class="row center-item opciones flex-center">
        <div class="opcion col-lg-6 col-md-6 col-12 text-center">
            <button class="btn btn-primary btn-opciones provadores ">VER PROBADORES DISPONIBLES</button>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center">
            <button class="btn  btn-primary btn-opciones descanso">VER ZONAS<br> DE DESCANSO</button>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center">
            <button class="btn btn-primary btn-opciones QR">ESCANEAR QR<br> DE PROBADOR</button>
        </div>
    </div>
</section>