<section class="options text-center">
    <div class="row">
        <div class="provadores col-lg-6 col-md-6 col-12">
            <button class="btn btn-opciones">VER PROVADORES DISPONIBLES</button>
        </div>
        <div class="descanso col-lg-6 col-md-6 col-12">
            <button class="btn btn-opciones">VER ZONAS DE DESCANSO</button>
        </div>
    </div>
    <div class="row">
        <div class="QR col-lg-6 col-md-6 col-12">
            <button class="btn btn-opciones">ESCANEAR QR DE PROVADOR</button>
        </div>
    </div>
</section>