<section class="opciones">
    <div class="container">
        <h2 class="text-center"><b>StyleMaster: Ripley's SmartFitting Room</b></h2>
    </div>
    <div class="row center-item opciones flex-center"><div class="col-lg-3 col-md-2 col-0"></div>
        <div class="opcion col-lg-6 col-md-8 col-12 text-center"><a href="/map/mapGet?suc=Mall+Parque+Arauco&flexdatalist-suc=Mall+Parque+Arauco">
            <button class="btn btn-rounded btn-purple btn-opciones provadores ">VER PROBADORES<br> DISPONIBLES</button></a>
        </div>  <div class="col-lg-3 col-md-2 col-0"></div><div class="col-lg-3 col-md-2 col-0"></div>

        <div class="opcion col-lg-6 col-md-8 col-12 text-center"><a href="https://simple.ripley.cl/">
                <button class="btn btn-rounded btn-wine  btn-opciones QR">NAVEGAR EN<br> RIPLEY.COM</button></a>
        </div><div class="col-lg-3 col-md-2 col-0"></div><div class="col-lg-3 col-md-2 col-0"></div>
        <div class="opcion col-lg-6 col-md-8 col-12 text-center"><a href="http://random.cat/">
                <button class="btn btn-rounded btn-yellow  btn-opciones QR">OTRAS INFORMACIONES</button></a>
        </div><div class="col-lg-3 col-md-2 col-0"></div>
    </div>
</section>