<section class="opciones">
    <div class="container">
        <h2 class="text-center"><b>StyleMaster: Ripley's SmartFitting Room</b></h2>
    </div>
    <div class="row center-item opciones flex-center">
        <div class="opcion col-lg-6 col-md-6 col-12 text-center"><a href="/">
            <button class="btn btn-rounded btn-purple btn-opciones provadores ">VER PROBADORES<br> DISPONIBLES</button></a>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center"><a href="/">
            <button class="btn btn-rounded btn-wine  btn-opciones QR">ESCANEAR QR<br> DEL PROBADOR</button></a>
        </div>
        <div class="opcion col-lg-6 col-md-6 col-12 text-center"><a href="/">
            <button class="btn btn-rounded btn-yellow  btn-opciones QR">BOTON<br> CONCURSABLE</button></a>
        </div>
    </div>
</section>