<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="?">
    <meta name="keywords" content="?">
    <meta name="author" content="?">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="?">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/assets/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon_logo.png">
    <link rel="icon" type="image/png" href="/assets/img/chrome-touch-icon-192x192.png" sizes="192x192">

    <link rel="preload" as="script" href="/assets/app.js">
    <link rel="manifest" href="/assets/manifest.json">
<<<<<<< HEAD
    <title>Ripley</title>
</head>

<body>
    <header class="text-center">
        <img class="header-logo" src="/assets/img/Ripley_logo_black.jpg">
    </header>
=======
    <title>StyleMaster</title>
</head>

<body>  
>>>>>>> c224d5957c8ced0f00272f309736c65ca9dbe638
    <%- body %>
    <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a class="footerstf" href="">Home Page</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a class="footerstf" href="">Contacto</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a class="footerstf" href="">Elunet labs</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                        </ul>
                        <p class=" small mb-4 mb-lg-0 copyright">&copy; Aprato 2019. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <a href="">
                                    <i class="fab fa-facebook fa-2x fa-fw icongrid"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <i class="fab fa-instagram fa-2x fa-fw icongrid"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
</body>
<script src="/assets/app.js"></script>

</html>