<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="?">
    <meta name="keywords" content="?">
    <meta name="author" content="?">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="?">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/assets/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon_logo.png">
    <link rel="icon" type="image/png" href="/assets/img/chrome-touch-icon-192x192.png" sizes="192x192">

    <link rel="preload" as="script" href="/assets/app.js">
    <link rel="manifest" href="/assets/manifest.json">
    <title>StyleMaster</title>
</head>

<body>
    <%- body %>
    <footer class="footer">
    </footer>
</body>
<script src="/assets/app.js"></script>

</html>