<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="?">
    <meta name="keywords" content="?">
    <meta name="author" content="?">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="?">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/assets/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.jpg">
    <link rel="icon" type="image/png" href="/assets/img/chrome-touch-icon-192x192.png" sizes="192x192">
    <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

    <link rel="preload" as="script" href="/assets/app.js">
    <link rel="manifest" href="/assets/manifest.json">
    <title>Ripley's StyleMaster</title>
</head>

<body>
    <header class="text-center">
        <a  href="/"><img class="header-logo" src="/assets/img/Ripley_logo_black.jpg"></a>
    </header>
    <section class="main flex-center">
        <%- body %>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a class="footerstf" href="https://simple.ripley.cl/">Volver a Ripley</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a class="footerstf" href="https://elunet.tech/">Elunet labs</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                    </ul>
                    <p class=" small mb-4 mb-lg-0 copyright">&copy; Elunet Labs 2019. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/assets/app.js"></script>

</html>