<section class="satandby">
        <div class="container">
            <br><br>
            <h1 class="text-center nani"><b>SELECCIONE EL AMBIENTE QUE DESEE</b></h1><br><br>
        </div>
        <div class="center-item flex-center ambients">
            <img src="/assets/img/dia.png" alt="sun">
            <img src="/assets/img/noche.png" alt="sun">
            <img src="/assets/img/shuffle.png" alt="sun">
        </div>
        
    </section>