<section class="satandby">
    <div class="container">
        <h3 class="text-center nani"><b>¡Gracias por usar el probador inteligente StyleMaster!
                <br><br>
                Puedes escanear los QR arriba para guardar tu selección o llamar un vendedor.
                <br><br>
                Si no quieres usar celular, ve las opciones en pantalla.</b></h3><br><br>
    </div>
</section>