Aqui se inicia la interfaz local del probador

<form action="/probador/<%=actID%>/use" method="GET">
    <input autofocus type="text" name="sku" placeholder="SKU"/>
    <input type="submit" value="Enviar SKU"/>
</form>
