<section class="satandby">
    <div class="container">
        <br><br>
        <h1 class="text-center nani"><b>ESCANEE LA ETIQUETA DE SU PRENDA</b></h1><br><br>
    </div>
    <div class="center-item flex-center">
        <i class="fas fa-angle-double-down"></i>
    </div>
    <form  class="text-center" action="/probador/<%=actID%>/use" method="GET">
        <input autocomplete="off" id="sku" onblur="this.focus()" autofocus type="text" name="sku" placeholder="SKU" />
    </form>
</section>yyy