
Aqui esta la interfaz principal de uso del probador para cierto SKU

Se intento el SKU <%=actSKU%>

Ambiente

Aqui puedo generar los qr necesarios
<a href="/probador/<%=actID%>/end">finalizar</a>